/**
 * Single product
 */
.single-product div.product {
	position: relative;
}

.single-product div.product .woocommerce-product-gallery {
	position: relative;
	float: left;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	top: 2em;
	right: 1em;
	display: block;
	z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
	margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
	margin: 0;
	padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
	list-style: none;
	cursor: pointer;
	float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	opacity: 0.5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 30.79667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
	clear: both;
}

.stock:empty::before {
	display: none;
}

.stock.in-stock {
	color: #0f834d;
}

.stock.out-of-stock {
	color: #e2401c;
}



.woocommerce {

    ul.products {
        margin: 0;
        padding: 0;
    
        li.product {
            list-style: none;
            position: relative;
            margin-bottom: 0;
            padding: 1.3em;

            .woocommerce-loop-product__link {
                text-decoration: none;
                color: var(--color-texto-oscuro);
            }
    
            img {
                display: block;
                margin: auto;
                transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
    
            h2.woocommerce-loop-product__title {
                font-size: 0.97em;
                margin: 0.4em 0;
                text-align: center;
                min-height: 55px;
                text-transform: uppercase;
            }
    
            span.price {
                display: block;
                text-align: center;
                font-weight: 800;
                font-size: 0.99em;
                color: var(--color-texto-oscuro);

                del {
                    font-size: 0.9em;
                    font-weight: 500;
                }
            }
    
            span.onsale {
                position: absolute;
                right: 15px;
                top: 15px;
                background-color: red;
                color: var(--color-texto-claro);
                border-radius: 50px;
                font-size: 0.8em;
                font-weight: 700;
                padding: 0.3em 0.9em;
                min-height: unset;
                line-height: unset;
    
            }
    
            .button {
                margin-top: 1.4em;
                padding: 0.6em 0.9em;
                border-radius: 50px;
                background-color: var(--color-primario);
                text-align: center;
                color: var(--color-texto-oscuro);
                text-decoration: none;
                transition: background-color 0.3s ease-in-out;
                font-size: 0.86em;
                line-height: unset;
                display: none;
    
                &:hover {
                    background-color: var(--color-primario-hover);
                }
            }
    
            a.added_to_cart {
                display: block;
                margin: auto;
                margin-top: 0.8em;
                text-align: center;
                color: var(--color-texto-oscuro);
                text-decoration: none;
                font-size: 0.96em;
    
                &:hover {
                    text-decoration: underline;
                }
            }
    
            &:hover img {
                transform: scale(1.1);
            }

            &:hover h2.woocommerce-loop-product__title {
                color: var(--color-primario);
            }
        }


        &::before {
            content: unset;
            display: unset;
        }
    
    
    }

}


@media (max-width:1190px) {

    .woocommerce {

        ul.products {
    
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
    
            li.product {
                padding: 0.9em;
                margin-bottom: 0;
                width: 100% !important;
    
                h2.woocommerce-loop-product__title {
                    font-size: 0.95em;
                }
    
                span.onsale {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    background-color: red;
                    color: var(--color-texto-claro);
                    border-radius: 50px;
                    font-size: 0.7em;
                    font-weight: 700;
                    padding: 0.3em 0.9em;
        
                }
    
                span.price {
                    display: block;
                    text-align: center;
                    font-weight: 800;
                    font-size: 0.8em;
                }
            }
        }
    }


}

@media (max-width:760px) {
    .woocommerce {

        ul.products {
            grid-template-columns: 1fr 1fr;
            gap: 14px;

            li.product {
                margin-bottom: 0 !important;

                .button, a.added_to_cart {
                    font-size: 0.85em;
 
                }
            }
        }
    }

}