/**
 * Notifications woocommerce
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	clear: both;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
	background-color: white;
	box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
	border-radius: 0px 0px 10px 10px;
	font-size: 0.95em;

	a {
		font-weight: 500;
		color: var(--color-texto-oscuro)
	}
}
 
.woocommerce-info {
	border-top-color: dodgerblue;

	&:before {
		color: dodgerblue;
	}
}

.woocommerce-error {
	border-top-color: #e2401c;

	&:before {
		color: #e2401c;
	}
}

.woocommerce-message {
	border-top-color: var(--color-primario);

	&:before {
		color: var(--color-primario);
	}
}

.woocommerce-store-notice.demo_store {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: unset;
	margin: 0;
	padding: 1em;
	z-index: 9999;
	display: block;
	position: fixed;
	border-top: 3px solid #f8f41e;
	background-color: #f8f41e;
	color: #222;

	a {
		font-weight: 700;
		color: #222;
	}
}

