.woocommerce {

	nav.woocommerce-pagination {
	
		ul.page-numbers {
			border: 0;
			
			li {
				border-right: 0;
				margin-right: 17px;

				.page-numbers {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 40px;
					width: 40px;
					background-color: transparent;
					color: var(--color-texto-oscuro);
					border: 2px solid var(--color-secundario);
					border-radius: 10px;

					&:hover {
						background-color: var(--color-secundario);
						color: var(--color-texto-claro);
					}
				}
	
				span.page-numbers.current {
					color: var(--color-texto-claro);
					background-color: var(--color-secundario);
					border-color: transparent;
				}

				.page-numbers.prev, .page-numbers.next {
					border-color: transparent;
					background-color: transparent;
					color: var(--color-texto-oscuro);
					transition: 0.3s ease-in-out;
				}
			}
		}
	}
}