.pswp {
    animation: pswp-fade-in 1.1s ease-in-out;

    .pswp__bg {
        background: white;
    }

    .pswp__scroll-wrap {

        .pswp__button {
            filter: invert(1);
        }

        .pswp__top-bar,
        .pswp__caption {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .pswp__top-bar {

            .pswp__counter {
                color: black;
            }
        }

        .pswp__caption {

            .pswp__caption__center {
                color: black;
                text-align: center;
            }
        }
    }
}

@keyframes pswp-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 765px) {

    .pswp {

        .pswp__scroll-wrap {

            .pswp__top-bar {
                bottom: 0;
                top: unset;
            }

            .pswp__caption {
                bottom: unset;
                top: 0;
            }
        }
    }
}