

// productos destacados
.productos-destacados {
    margin-top: 5em;

    .producto-destacado {
        display: grid;
        grid-template-columns: min-content 1fr;
        box-sizing: border-box;

        .producto-destacado__titulo {
            grid-column: 1/2;
            grid-row: 1;
            align-self: center;
        }

        .producto-destacado__btn {
            grid-column: 1/2;
            grid-row: 2;
            align-self: start;
            text-align: center;
        }

        .producto-destacado__imagen {
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }

    .producto-destacado__titulo {
        font-size: 3.7em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .producto-destacado__btn {
        background-color: var(--color-primario);
        color: white;
        padding: 0.7em 2.4em;
        font-size: 1.3em;
        text-decoration: none;
        margin-top: 1em;
        display: inline-block;
    }
    
    .swiper-pagination {
        top: 0;
        left: 0;
        width: auto;
        display: flex;
        align-items: flex-end;
        bottom: unset;
        max-width: 320px;

        span {
            border-radius: 0;
            height: unset;
            width: unset;
            margin:0 !important;
            background-color: transparent;
            max-width: 70px;
            width: 100%;
            transition:opacity 0.5s ease-in-out ;

            img {
                width: 100%;
            }

            p {
                text-transform: capitalize;
                font-size: 1.1em;
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 600;
            }

            &:hover {
                opacity: 0.4;
            }
        }
    }

    .slider-navegacion {
        position: absolute;
        right: 10px;
        top: 30px;
        max-width: 100px;
        width: 100%;
        font-size: 0.9em;

        .swiper-button-next::after, 
        .swiper-button-prev::after {
            font-size: 1.3em;
            font-weight: bolder;
            color: black;
        }
    }
}

.banner-sobre-nosotros {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1fr 0.6fr;

    .banner-sobre-nosotros__imagen {
        background-image: url("assets/img/banner.jpg");
        background-size: cover;
    }

    .banner-sobre-nosotros__texto {
        padding: 4em;
        background-color: var(--color-primario);
        color: white;

        h3 {
            font-family: 'Barlow Condensed';
            font-size: 2.3em;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

}

.categorias-bicicletas {
    margin-top: 7em;
    
    .categoria-bicicleta {
        position: relative;
        overflow: hidden;

        .categoria-bicicleta__texto {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: absolute;
            color: white;
            font-size: 1.7em;
            text-transform: uppercase;
            font-weight: 600;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.692) , rgba(0, 0, 0, 0.123));
            transition: background 0.5s ease-in-out;

            .categoria-bicicleta__titulo {
                position: relative;

                    p {
                        margin: 0;
                    }
        
                    .cruz {
                        width: 8px;
                        height: 25px;
                        background-color: var(--color-primario);
                        position: relative;
                        float: right;
                        transform: rotate(90deg);
                        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        
                        &::before {
                            content: '';
                            width: 8px;
                            height: 25px;
                            background-color: var(--color-primario);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                            transition-delay: 0.4s;
                        }
                        
                    }
            }

        }

        img {
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 200px;
            transition: 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
            z-index: -1;
        }

        &:hover img {
            transform: scale(1.1);
        }

        &:hover .categoria-bicicleta__texto {

            .categoria-bicicleta__titulo  {

                .cruz {
                    transform: rotate(0deg);

                    &::before {
                        transform: translate(-55%, -50%) rotate(90deg);
                    }
                }
            }
        }
    }
}

.seccion-novedades {
    margin: 3em 0;

    .ver-mas-productos {
        background-color: var(--color-primario);
        color: var(--color-texto-claro);
        padding: 0.5em 1.4em ;
        transition: background-color 0.4s ease-in-out;
        font-size: 1.1em;
    }
}

.banner-sobre-nosotros,
.seccion-novedades,
.categorias-bicicletas {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translatey(50px);
}

.banner-sobre-nosotros.fade-in-bmc,
.seccion-novedades.fade-in-bmc,
.categorias-bicicletas.fade-in-bmc {
    transform: translatey(0);
    opacity: 1;
}

@media (max-width: 1190px) {

    .productos-destacados {

        .producto-destacado {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .producto-destacado__titulo,
            .producto-destacado__btn,
            .producto-destacado__imagen {
                grid-column: 1;
            }

            .producto-destacado__titulo {
                grid-row: 1;
                margin-top: 2em;
                text-align: center;
                font-size: 2.3em;
            }

            .producto-destacado__btn {
                grid-row: 3;
                max-width: 280px;
                width: 100%;
                margin: auto;
                margin-top: 1em;
                font-size: 1em;
            }

            .producto-destacado__imagen {
                grid-row: 2;
            }
        }
    }


}

@media (max-width: 990px) {

    .banner-sobre-nosotros {
        margin-top: 4em;
        display: grid;
        grid-template-columns: 1fr;
    
        .banner-sobre-nosotros__imagen {
            background-image: url("assets/img/banner.jpg");
            background-size: cover;
            height: 170px;
        }
    
        .banner-sobre-nosotros__texto {
            padding: 2em;
            background-color: var(--color-primario);
            color: white;
    
            h3 {
                font-family: 'Barlow Condensed';
                font-size: 1.6em;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    
    }

    .producto-destacado {
        padding: 1em;
        display: grid;
        grid-template-rows: 200px auto 200px;

        .producto-destacado__texto {
            grid-row: 2/3;

            h2 {
                margin-top: 0;
            }
        }

        .producto-destacado__img-izquierda,
        .producto-destacado__img-derecha {
            max-width: 260px;
            z-index: -1;
        }

        .producto-destacado__img-izquierda {
            grid-row: 3/4;
        }

        .producto-destacado__img-derecha {
            grid-row: 1/2;
        }
    }
}

@media (max-width: 750px) {

    .productos-destacados {

        .slider-navegacion {
            position: unset;
    
            .swiper-button-next::after, 
            .swiper-button-prev::after {
                font-size: 1.4em;
            }
        }
    }
    .producto-destacado {
        p {
            font-size: 0.86em;
        }

        .producto-destacado__img-izquierda,
        .producto-destacado__img-derecha {
            max-width: 200px;
            z-index: -1;
        }

    }

    .newsletter {

        .newsletter__contenido {
            padding: 1em;
        }

        padding: 3em 0em;

        .newsletter__titulo {
            font-size: 1.4em;
        }

        .newsletter__bajada {
            font-size: 1.1em;
        }

        .yikes-mailchimp-container {
            
            .yikes-easy-mc-form {
                display: block;
        
                button, input {
                    border-radius: 50px;
                }
            }
        }
    }
}
