
.pagina-distribuidores {

    .distribuidores-listado {
        margin: 6em 0em;
        
        .distribuidor {
            text-align: center;
            margin-bottom: 4em;
            
            .distribuidor__img {
                background-color: #474747;
                padding: 2em 1.4em;
                border-radius: 6px;
    
                img {
                    max-width: 230px;
                    margin: auto;
                    width: 100%;
                    height: auto;
                }
            }
    
            .distribuidor__nombre {
                font-size: 1.2em;
                margin-top: 1em;
                margin-bottom: 0.3em;
                font-family: "Barlow Condensed", sans-serif;
                text-transform: uppercase;
            }
    
            .distribuidor__direccion {
                font-size: 0.90em;
                color: rgb(109, 109, 109);
            }
    
            .btn-primary{
                max-width: 260px;
                width: 100%;
            }
        }
    }

    .distribuidor-modal {

        .modal-header {

            .btn-close {
                font-size: 0.7em;
            }
        }

        .modal-body {

            .distribuidor-modal__titulo {
                border-left: 5px solid var(--color-primario);
                font-family: "Barlow Condensed", sans-serif;
                text-transform: uppercase;
                font-size: 1.3em;
                font-weight: 600;
                line-height: 0.8;
                padding-left: 5px;
            }
    
            .distribuidor-modal__informacion {
                margin: 0;
                padding: 0;
                list-style-type: none;
                margin-top: 2em;
    
                li {
                    font-size: 0.9em;
                    border-bottom: 1px solid #e7e7e7;
                    margin-bottom: 0.8em;
                    padding-bottom: 0.8em;
                    color: #535353;

                    a {
                        color: #535353;
                    }

                    i {
                        color: #292929;
                        margin-right: 5px;
                    }

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }
        }

    }
}
