
.pagina-documentos {

    .documento {
        max-width: 310px;
        margin: auto;
        width: 100%;

        .documento__titulo {
            font-family: 'Barlow Condensed', sans-serif;
            color: black;
            margin-top: 0.5em;
        }

        .documento__archivo {
            display: grid;
            grid-template-columns: 20px 1fr;
            align-items: flex-end;
            position: relative;
            border-bottom: 1px solid gray;
            padding-bottom: 0.5em;

            .icono-pdf {
                max-width: 100px;
            }

            a {
                color: #353434;
                text-transform: uppercase;
                text-align: center;
                margin-right: 20px;
            }
        }
    }
}


