.error-404 {
    min-height: 80vh;
    text-align: center;
    padding: 4em 0em;

    .page-header{

        .page-epigraphe {
            font-size: 3.9em;
            font-weight: 700;
            display:block;
        }

        .page-title {
            font-size: 1.5em;
            font-weight: 500;
            margin: 0;
        }

        .btn.btn-primary {
            color: white;
        }
    }

}

@media (max-width: 750px) {

    .error-404 {
        padding: 0 1em;

        .page-header {

            .page-epigraphe {
                font-size: 2.5em;
            }

            .page-title {
                font-size: 1.1em;
            }
        }
    }
}