
.pagina-tienda {
    margin-bottom: 3em;

    // Baner header
    .pagina-tienda__banner {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2.3em 0em;
        margin-bottom: 2em;
        color:  var(--color-texto-claro);
        
        h1 {
            font-weight: 700;
            position: relative;
            z-index: 3;
            margin: 0;
        }

        &::after {
            width: 100%;
            height: 100%;
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            z-index: 1 ;
            background: linear-gradient(to right, #000000db ,#00000036);
        }
    }

    // Migas de pan 
    .pagina-tienda__breadcrumb {
        margin-bottom: 2em;
        font-size: 1.2em;
    }

    .pagina-tienda__sidebar {

        .widget-area {
            padding: 0.4em;
            top: 100px;
            position: sticky;

            p {
                margin-bottom: 0;
            }

            h3 {
                font-size: 1.34em;
                margin-bottom: 0.9em;
                font-weight: 600;
                font-family: 'Barlow Condensed', sans-serif;
            }

            ul {
                padding: 0;
                font-size: 0.91em;

                li {
                    margin-bottom: 0.4em !important;  

                    ul li {
                        margin: 0.5em 0em !important;
                        
                        input {
                            transform: scale(0.79);
                        }
                    }
                }
            }

            .bapf_button.bapf_reset {
                background-color: var(--color-primario);
                color: white;
                width: 100%;
                padding: 0.6em 1.4em;
                border: 0;
            }
        }
    }
 
    .btn-filtro-movil {
        height: 55px;
        width: 55px;
        justify-content: center;
        border-radius: 50px;
        align-items: center;
        position: fixed;
        bottom: 30px;
        right: 20px;
        background: var(--color-primario);
        border: 0;
        box-shadow: rgba(41, 50, 60, 0.24) 0px 2px 12px;
    
        i {
            color: white;
            font-size: 1.4em;
            line-height: 1.6em;
        }
    }

    // Galeria de productos
    .pagina-tienda__lista-productos {

        .woocommerce-result-count {
            font-size: 0.95em;
        }
    
        .orderby {
            padding: 0.7em;
            font-size: 0.95em;
            border-radius: 10px;
        }

        ul.products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-row-gap: 20px;
            grid-column-gap: 20px;
            margin-bottom: 2em;

            li.product {
                width: 100%;
                margin-bottom: 0;
            }
        }
    }

}

// Sidebar filtros
.pagina-tienda__sidebar-modal {

    .widget {
        border-bottom: 1px solid  #0000001c;

        &:last-of-type {
            border-bottom: 0;
        }

        h3 {
            font-size: 1.3em;
            font-weight: 700;
            font-family: 'Barlow Condensed', sans-serif;
    
            i {
                font-size: 0.9em;
            }
        }
    
        div.bapf_sfilter div.bapf_body > ul {
            padding-left: 0 ;
            font-size: 0.95em;
            margin-top: 1.5em !important;
    
            i {
                font-size: 0.86em;
                margin-left: 10px;
            }
    
            li {
                margin-bottom: 0.6em !important;

                ul {
                    padding: 0;
                }
    
                li {
                    margin: 0.6em 0 !important;

                    input {
                        transform: scale(0.8);
                    }
                }
            }
        }

        button.bapf_button, button {
            width: 100%;
            border-radius: 4px;
            background-color: var(--color-primario);
            font-size: 0.97em;
            color: white;
            border: 0;
            padding: 0.8em 1.4em;

            &:hover {
                background-color: unset;
                color: unset;
            }
        }
    }

}

@media(max-width: 1190px) {

    .pagina-tienda {

        // Sidebar filtros
        .pagina-tienda__sidebar {

            .widget-area  {
                top: 140px;
            }
        }
    }
}

@media(max-width: 991px) {

    .pagina-tienda {

        // Banner header
        .pagina-tienda__banner {
            padding: 1.6em 0.5em;
            background-position: center;

            h1 {
                font-size: 1.6em;
            }
        }

        // Migas de pan
        .pagina-tienda__breadcrumb {
            margin-bottom: 1em;
        }

        // Sidebar filtros
        .pagina-tienda__sidebar {
            margin-bottom: 3em;

            .widget-area  {
                position: unset;
            }
        }

        // Galeria de productos
        .pagina-tienda__lista-productos {

            .woocommerce-ordering {
                float: none;
            }

            .orderby {
                width: 100%;
                font-size: 0.85em;
            }

            ul.products {
                grid-template-columns: 1fr;
            }
        }
    }
}