.pagina-producto {
    margin: 2.5em 0;

    // Migas de pan
    .woocommerce-breadcrumb {
        max-width: 550px;
    }


    // Datos del producto y galería
    div.product {

        // Galeria de imágenes
        .onsale {
            background-color: red;
            border-radius: 50px;
            min-width: unset;
            min-height: unset;
            line-height: unset;
            font-size: 0.7em;
            padding: 0.5em 1em;
            top: 9px;
            left: 9px;
        }

        div.images.woocommerce-product-gallery {
            margin-bottom: 6em;
            float: right;
            width: 68%
        }

        .woocommerce-product-gallery__trigger {
            opacity: 0;
        }

        ul.flex-direction-nav {
            position: absolute;
            top: 50%;
            z-index: 40;
            width: 100%;
            left: 0;
            margin: 0;
            padding: 0px;
            list-style: none;
            transform: translate(0%,-50%);
        }

        li.flex-nav-prev {
            float: left;
        }
        li.flex-nav-next {
            float: right;
        }
        a.flex-next {
            visibility:hidden;
        }
        a.flex-prev {
            visibility:hidden;
        }

        a.flex-next::after {
            visibility:visible;content: '\f054';
            font-family: 'Font Awesome 5 Free';
            margin-right: 10px;
            font-size: 2em;   
            font-weight: bold;
        }
        a.flex-prev::before {
            visibility:visible;
            content: '\f053';
            font-family: 'Font Awesome 5 Free';   
            margin-left: 10px;
            font-size: 2em;
            font-weight: bold;
        }
        ul.flex-direction-nav li a {
            color: #919191;
            text-decoration: none;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .flex-control-nav.flex-control-thumbs{
            display: none;
        }

        div.images.woocommerce-product-gallery:hover ul.flex-direction-nav li a {
            display: block;
            opacity: 1;
        }

        div.images.woocommerce-product-gallery:hover .woocommerce-product-gallery__trigger {
            opacity: 1;
        }


        // Datos del producto
        div.summary {
            margin: 0;
            float: left;
            width: 28%;

            .product_title {
                font-family: 'Barlow Condensed', sans-serif;
                margin-top: 0.4em;
                font-size: 4.5em;
                margin-bottom: 0.3em;
                text-transform: uppercase;
            }

            .sku_wrapper {
                font-size: 0.88em;

                span {
                    font-weight: 700;
                }
            }

            .price {
                font-size: 1.7em;
                color: red;
                font-weight: 700;
                margin: 1em 0;

                del {
                    font-size: 0.60em;
                    color: #474646;
                }
            }

            .stock.in-stock {
                margin-bottom: 0.5em;
                color: #555655;
            }

            .woocommerce-product-details__short-description {
                display: none;
            }

            form.cart {
 
                div.quantity {
                    margin-right: 25px; 
                    position: relative;

                    input.qty {
                        border-radius: 50px;
                        padding: 0.4em 2em;
                        padding-right: 1em;
                        width: 100%;
                        max-width: 140px;
                        height: 40px;

                        &:focus-visible {
                            outline: 0;
                        }
                    }

                    .plus, .minus {
                        position: absolute;
                        right: 0;
                        border-radius: 0px 50px 50px 0px;
                        border: 1px solid #ccc;
                        border-left: 0;
                        height: 40px;
                        background-color: white;
                        display: flex;
                        top: 0;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.4em;
                        font-weight: 600;
                        padding: 0;
                        width: 40px;

                        i {
                            font-size: 0.9em;
                            transition: font-weight 0.6s ease-in-out;
                        }

                        &:hover {

                            i {
                                font-weight: 700;
                            }
                        }
                    }

                    .minus {
                        left: 0;
                        right: unset;
                        border-radius: 50px 0px 0px 50px;
                        border-right: 0;
                    }
                }

                button.single_add_to_cart_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--color-primario);
                    color: var(--color-texto-oscuro);
                    border-radius: 50px;
                    padding: 0.9em 2.9em;
                    font-size: 0.98em;
                    transition: all 0.4s ease-in-out;

                    svg, i {
                        font-size: 1.2em;
                        margin-left: 0.5em;
                    }

                    &:hover {
                        background-color: var(--color-secundario);
                        color: var(--color-texto-claro);
                    }
                }

                a.added_to_cart {
                    display: none;
                }
            }

            form.cart.variations_form {
                display: flex;
                flex-direction: column;

                .variations {
                    order: 1;

                    .label, .value {
                        display: block;
                    }

                    .label {
                        .variation_name_label {
                            font-size: 0.95em;
                            font-weight: 500;
                        }
                    }

                    .value {
                        .attribute_peso, .attribute_peso-kg {
                            display: flex;
                            font-size: 0.96em;
                        }
                    }
                }

                .single_variation_wrap {
                    order: 0;
                    width: 100%;
                    margin-bottom: 2em;

                    .woocommerce-variation-price {
                        font-size: 0.8em;
                        
                    }
                }
            }
        }
    }


    // Tabs Datos del producto
    div.woocommerce-tabs.wc-tabs-wrapper {
        margin-top: 4em;

        // Tabs links
        ul.tabs.wc-tabs {
            padding: 0;
            margin-bottom: 0;

            li {
                margin: 0;
                margin-right: 2px;
                border-radius: 10px 10px 0px 0px;
                font-size: 0.95em;
                border-bottom: 0;
                background-color: transparent;
                padding: 0;

                a {
                    padding: 0.5em 1em;
                }

                &::after, 
                &::before {
                    content: unset;
                }
            }

            li.active {
                background-color: var(--color-secundario);
                color: var(--color-texto-claro);

                &::after {
                    box-shadow: unset;
                }
            }

            &::before {
                content: unset;
            }
        }

        // Tabs panel
        div.woocommerce-Tabs-panel {
            background-color: white;
            box-shadow: 2px 10px 10px 2px #0000000f;
            border-radius: 0px 0px 10px 10px;
            padding: 1em;
    
            h2 {
                font-size: 1.2em;
                margin-bottom: 0.5em;
                margin-top: 1em;
                font-weight: 600;
            }
    
            p {
                font-size: 0.95em;
            }
        }

        div.woocommerce-Tabs-panel--additional_information {
            
            table {
                font-size: 0.95em;
                margin-top: 1em;
            }
        }

        div.woocommerce-Tabs-panel--reviews {

            .woocommerce-Reviews {

                .woocommerce-noreviews {
                    background-color: transparent;
                    color: gray;
                }

                .comment-respond {

                    .comment-reply-title {
                        margin-bottom: 1em;
                        display: block;
                    }

                    form {

                        .comment-form-author, 
                        .comment-form-email {
                            
                            label {
                                display: block;
                            }
                        }

                        p.form-submit {
                            text-align: end;

                            input#submit.submit {
                                background-color: var(--color-primario);
                                border-radius: 50px;
                                color: var(--color-texto-oscuro);
                                font-size: 0.96em;
                            }
                        }
                    }
                }
            }
        }
    }

    // Detalles tecnicos
    .detalles-tecnicos {

        .detalles-tecnicos__sidebar {
            height: 100vh;
            overflow: hidden;
            z-index: 890;
            top: 40px;

            h2 {
                width: 100%;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                color: white;
                text-align: center;
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
                font-size: 1.8em;
            }

            img {
                height: 100%;
            }
        }

        .detalles-tecnicos__contenido {

            .nav-tabs {
                border: 0;
                justify-content: center;
                margin: 0;

                .nav-item {

                    .nav-link {
                        color: #161616;
                        padding: 0;
                        margin-right: 1.9em;
                        padding-bottom: 0.2em;
                        background-color: transparent;
                        border: 0;
                        border-radius: 0;
                        font-size: 1.2em;
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    .nav-link.active {
                        border-bottom: 4px solid var(--color-primario);
                    }
                }
            }

            .detalles-tecnicos__geometria {

                .geometria-bicicleta__img {
                    max-width: 650px;
                    width: 100%;
                    display: block;
                    margin: auto;
                }

                .geometria-bicicleta__tabla {
                    max-width: 750px;
                    width: 100%;
                    margin: auto;

                    thead {
                        border-bottom: 1px solid black;
                        
                        tr th {
                            text-align: center;

                            &:first-of-type {
                                text-align: start;
                            }
                        }
                    }

                    tr td {
                        border-right: 1px solid black;
                        text-align: center;
                        font-size: 0.95em;
                        padding: 0.5em;

                        &:first-of-type {
                            text-align: start;
                            width: max-content;
                        }

                        &:last-of-type {
                            border-right: 0;
                        }
                    }
                }
            }

            .especificaciones-bicicleta__tabla {
                max-width: 650px;
                width: 100%;
                margin: auto;
                margin-top: 3em;
                font-size: 0.95em;

                tr td {
                    border-bottom: 1px solid var(--color-primario);
                    padding: 1.4em 0;

                    ul {
                        margin-bottom: 0;

                        li {
                            margin-left: 15px;
                            font-size: 0.95em;

                            &:first-of-type {
                                list-style-type: none;
                                padding: 0;
                                margin-left: 0;
                                font-size: 1em;
                            }
                        }
                    }

                    &:first-of-type {
                        font-weight: 600;
                        text-transform: uppercase;
                        vertical-align: top;
                        width: 180px;

                        ul {
                            margin: 0;
                            padding: 0;
                        }
                    }

                }
            }

        }
    }


    // Productos relacionados y ventas cruzadas
    .related.products, 
    .up-sells.upsells.products  {

        h2:not(.woocommerce-loop-product__title) {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 1.4em;
            border-left: 6px solid var(--color-primario);
            padding-left: 0.5em;
            line-height: 0.96;
            margin-top: 3em;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
        }
    }
    
}

.info-distribuidores {

    .btn-modal-distribuidores {
        background-color: var(--color-primario);
        color: white;
        font-size: 1.1em;
        padding: 0.8em 1.8em;
    }
}

.pagina-producto-modal {

    .modal-content {
        border-radius: 2px;
    }

    .modal-header {
        justify-content: center;

        h3 {
            font-family: 'Barlow Condensed', sans-serif;
            text-transform: uppercase;
            font-size: 2em;
            padding: 0.2em;
        }

        .btn-close {
            font-size: 0.7em;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .modal-body {

        .nav-tabs {

            .nav-link {
                color: #525252;
                border-radius: 0;
            }

            .nav-link.active {
                color: black;
            }
        }

        .distribuidor-modal__titulo {
            border-left: 5px solid var(--color-primario);
            font-family: "Barlow Condensed", sans-serif;
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: 600;
            line-height: 0.8;
            padding-left: 5px;
        }

        .distribuidor-modal__informacion {
            margin: 0;
            padding: 0;
            list-style-type: none;
            margin-top: 2em;

            li {
                font-size: 0.9em;
                border-bottom: 1px solid #e7e7e7;
                margin-bottom: 0.8em;
                padding-bottom: 0.8em;
                color: #535353;

                a {
                    color: #535353;
                }

                i {
                    color: #292929;
                    margin-right: 5px;
                }

                &:last-of-type {
                    border-bottom: 0;
                }
            }
        }
    }

}

@media (max-width: 1199px ) {
    .pagina-producto {

        div.product {
  
            // Datos del producto
            div.summary {

                .product_title {
                    font-size: 4em;
                }
            }
        }
    }
}

@media (max-width: 990px) {

    .pagina-producto {

        div.product {
            display: flex;
            flex-direction: column;

            // Galeria de imágenes
            div.images.woocommerce-product-gallery {
                margin-bottom: 0em;
                width: 100%;
                float: unset;
                order: 1;
            }

            
            // Datos del producto
            div.summary {
                width: 100%;
                float: unset;
                order: 0;

                .product_title {
                    font-size: 2em;
                    text-align: center;
                }

                .price {
                    font-size: 1.3em;
                }
            }

            .detalles-tecnicos {
                order: 3;

                .detalles-tecnicos__sidebar  {
                    margin-bottom: 2em;
                    top: unset;
                    position: relative !important;
                    height: unset;
                    font-size: 1em;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100px;
                    }
                }

                .detalles-tecnicos__contenido {

                    .nav-tabs  {
                        font-size: 0.7em;
                    }
                }
            }

            .related.products {
                order: 4;
            }
        }

        
        // Tab Datos del producto
        div.woocommerce-tabs.wc-tabs-wrapper {
            margin-top: 3em;
            font-size: 0.95em;

            ul.tabs.wc-tabs {

                li {
                    width: 100%;
                    border-radius: 0;

                    a {
                        width: 100%;
                    }

                    &:first-of-type {
                        border-radius: 10px 10px 0px 0px;
                    }
                }
            }
        }


        // Productos relacionados y ventas cruzadas
        .related.products, 
        .up-sells.upsells.products  {

            h2:not(.woocommerce-loop-product__title) {
                font-size: 1.2em;
            }
        }
    }

    .info-distribuidores {
        text-align: center;

        .btn-modal-distribuidores {
            background-color: var(--color-primario);
            color: white;
            padding: 0.8em 1.8em;
            max-width: 280px;
            width: 100%;
            margin: auto;
            display: block;
        }
    }

    .pagina-producto-modal {

        .modal-header {
            justify-content: center;
    
            h3 {
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
                font-size: 2em;
                padding: 0.2em;
            }
    
            .btn-close {
                font-size: 0.7em;
                position: absolute;
                right: 10px;
            }
        }
    
        .modal-body {
    
            .nav-tabs {
                flex-wrap: unset;

            }
        }
    
    }
}

@media (max-width: 575px) {

    .pagina-producto-modal {

        .modal-header {
            margin-bottom: 1em;

            h3 {
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
                font-size: 1.4em;
                padding: 0.2em;
                text-align: center;
            }
    
            .btn-close {
                font-size: 0.7em;
                position: absolute;
                right: 10px;
            }
        }
    
        .modal-body {
    
            .nav-tabs {
                flex-wrap: unset;
                display: block;
                border-bottom: 0;

                .nav-item, .nav-link {
                    width: 100%;
                }

                .nav-link.nav-link.active {
                    border: 1px solid gray;
                    font-weight: 600;
                }

            }
    
            .distribuidor-modal__titulo {
                border-left: 5px solid var(--color-primario);
                font-family: "Barlow Condensed", sans-serif;
                text-transform: uppercase;
                font-size: 1.3em;
                font-weight: 600;
                line-height: 0.8;
                padding-left: 5px;
            }
    
            .distribuidor-modal__informacion {
                margin: 0;
                padding: 0;
                list-style-type: none;
                margin-top: 2em;
    
                li {
                    font-size: 0.9em;
                    border-bottom: 1px solid #e7e7e7;
                    margin-bottom: 0.8em;
                    padding-bottom: 0.8em;
                    color: #535353;
    
                    a {
                        color: #535353;
                    }
    
                    i {
                        color: #292929;
                        margin-right: 5px;
                    }
    
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }
        }
    
    }

    .pagina-producto {

        // Detalles tecnicos
        .detalles-tecnicos {
    
            .detalles-tecnicos__contenido {
    
                .detalles-tecnicos__geometria {
    
                    .geometria-bicicleta__tabla {
                        width: 150%;
                    }
                }
    
                .especificaciones-bicicleta__tabla {
    
                    tr td {
      
                        ul {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
    
            }
        }
    }

}

