
.pagina-sobre-nosotros {

    .sobre-nosotros__seccion-1 {
        padding: 4em 2em;
        margin-bottom: 2em;

        h2 {
            font-size: 1.7em;
            font-family: 'Barlow Condensed', sans-serif;
        }
        
        p {
            font-size: 0.94em;
            margin: 0;
        }
    }

    .sobre-nosotros__seccion-2 {
        background-color: var(--color-primario);

        .sobre-nosotros__seccion-2-texto {
            padding: 5.5em 3em;
            color: white;

            h3 {
                font-family: 'Barlow Condensed';
                font-size: 2.4em;
            }

            p {
                margin-top: 1em;
                font-size: 0.9em;
            }
        }

        .sobre-nosotros__seccion-2-bg {
            background-image: url("assets/img/about-2.jpg");
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

@media (max-width: 775px) {
    
    .pagina-sobre-nosotros {

        .sobre-nosotros__seccion-1 {
            padding: 2em 1em;
            font-size: 0.98em;

            h2 {
                font-size: 1.5em;
            }
        }

        .sobre-nosotros__seccion-2 {

            .sobre-nosotros__seccion-2-texto {
                padding: 2em;

                h3 {
                    font-size: 1.8em;
                }
            }
        }

    }
}