
.pagina-contacto {

    form.wpcf7-form  {
        max-width: 980px;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 45px 0 rgba(0,0,0,.25);
        padding: 2em;
        margin: 4em auto;

        h2 {
            font-family: 'Barlow Condensed', sans-serif;
            text-transform: uppercase;
            font-size: 1.8em;
            margin-bottom: 0.9em;
        }

        label {
            width: 100%;

            input{
                width: 100%;
                padding: 0.9em 0.4em;
            }
        }

        select  {
            width: 100%;
            padding: 0.9em 0.4em;
        }

        .wpcf7-form-control.wpcf7-submit {
            background-color: var(--color-primario);
            color: white;
            float: right;
            padding: 0.6em 2.5em;
            border: 0;
        }
    }
}
 
@media(max-width: 575px) {

    .pagina-contacto {
        
        .wpcf7-form.init {

            h2 {
                font-size: 1.5em;
            }

            .wpcf7-form-control.wpcf7-submit {
                max-width: 280px;
                float: unset;
                margin: auto;
                display: block;
                width: 100%;
            }
        }
    }
}