.banner-header {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    position: relative;
    background-color: var(--color-primario);
    overflow: hidden;
    animation: animacion-banner 1.4s;
    animation-fill-mode: both;

    .banner-header__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f6f6f6;
        z-index: 1;
        animation: animacion-banner__bg 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: both;
        clip-path: polygon(-1.35% -0.1%, 53.97% 0%, 47.6% 106.3%, -1.18% 106.30%);    
    }

    .banner-header__texto {
        position: relative;
        grid-column: 1/2;
        padding: 4.3em 0;
        padding-left: 2em;
        z-index: 2;
        animation: animacion-banner__fade 1.3s ease-in-out;
        animation-fill-mode: both;
        animation-delay: 1s;

        h1 {
            font-family: "Barlow Condensed", sans-serif;
            text-transform: uppercase;
            font-size: 4.2em;
            margin-bottom: 0.2em;
        }
    }

    .banner-header__img {
        height: auto;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 2 / 3;
        clip-path: polygon(25% 0%, 101% 0%, 101% 101%, 15% 101%);
        -webkit-clip-path: polygon (50% 0%, 0% 100%, 100% 100%);
        animation: animacion-banner__fade 1.3s ease-out;
        animation-fill-mode: both;
        animation-delay: 2s;
    }
}

@keyframes animacion-banner {

    0% {
        background-color: var(--color-primario);
    }

    90% {
        background-color: var(--color-primario);
    }

    100% {
        background-color: #f6f6f6;
    }
}

@keyframes animacion-banner__bg {

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes animacion-banner__fade {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:775px) {

    .banner-header {
        grid-template-columns: 1fr;

        .banner-header__bg {
            grid-column: 1/3;
            grid-row: 1/2;
            clip-path: unset;
        }
        
        .banner-header__texto {
            padding: 3.4em 1.4em;
            grid-column: 1;
            text-align: center;

            h1 {
                font-size: 3.4em;
            }
        }

        .banner-header__img {
            height: 200px;
            clip-path: unset;
            grid-column: 1;
        }
    }
}

@media (max-width:565px) {

    .banner-header {
        
        .banner-header__texto {
            padding: 3em 1em;

            h1 {
                font-size: 2em;
            }
        }

        .banner-header__img {
            height: 170px;
        }
    }

}