.btn {
    border-radius: 2px;
}

.btn-primary, 
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading {
    background-color: var(--color-primario);
    z-index: 3;
    position: relative;
    overflow: hidden;
    border: 0;
    color: white;

    &::before {
        background: #cf0b1d;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: -3.14285714em;
        top: 0;
        -webkit-transform: translate3d(-100%,0,0) skewX(-15deg);
        transform: translate3d(-100%,0,0) skewX(-15deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease,-webkit-transform .5s ease;
        z-index: -1;
    }

    &:hover::before {
        transform: translate3d(0,0,0) skewX(-15deg);
    }

    &:hover i {
        animation: animacion_btn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-delay: 0.2s;
        animation-fill-mode: both;
    }
    
    &:focus, &:active {
        box-shadow: unset;
        outline: 0;
        border: 0;
        background-color: #cf0b1d;
    }


    &:hover {
        background-color:  var(--color-primario);
    }
    

    @keyframes animacion_btn {

        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(10px);
        }

        100% {
            transform: translateX(0);
        }
    }
}