
.copyright {
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 0.6em;
    font-size: 0.8em;
    margin: 0;
}

.seccion-footer {
    background-color: #3D4043;
    color: white;

    h4 {
        font-size: 0.9em;
        margin-bottom: 1em;
        font-weight: 600;
    }

    .footer__logo {

        img {
            max-width: 180px;
        }
    }

    .footer-menu {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        max-width: 300px;
        margin: 0;

        li {
            margin-bottom: 0.6em;
            line-height: 1;
        }

        a {
            text-decoration: none;
            color: var(--color-texto-claro);
            font-size: 0.9em;

            &:hover {
                opacity: 0.8;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .redes-sociales {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-texto-claro);
            text-decoration: none;
            font-size: 1em;
            transition: 0.6s  ease-in-out;
        }
    }
}

@media(max-width:768px) {

    .seccion-footer {
        text-align: center;

        h4 { 
            margin-top: 2em;
        }
        
        .footer-menu {
            columns: unset;
            -webkit-columns: unset;
            -moz-columns: unset;
        }
    }

}