

.navegacion {
    background-color:  white;
    padding: 0.8em 0;
    box-shadow: 2px 2px 10px 5px #00000017;

    .navegacion__contenido {
        display: grid;
        grid-template-columns: min-content auto auto;
        align-items: center;
    }

    .navegacion__logotipo {
        
        img {
            max-width: 170px;
            transition: max-width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }

    .navegacion__buscador {
        width: 100%;
        overflow: hidden;

        input.aws-search-field {
            font-size: 0.98em;
            padding-left: 1.2em;
            border-radius: 4px 0px 0px 4px !important;
            border-right: 0;
        }

        div.aws-search-btn.aws-form-btn {
            background-color: transparent;
            border-radius: 0px 4px 8px 4px !important;
            border-left: 0;

            span {
                color: var(--color-texto-oscuro);
            }
        }
    }

    .navegacion__menu {
        display: flex;
    }

    #primary-menu.menu  {

        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-right: 25px;

            a {
                color: var(--color-texto-oscuro);
                text-decoration: none;
                font-size: 0.98em;
                position: relative;
    
                &:before {
                    content: '';
                    position: absolute;
                    background-color: #d8d8d8;
                    height: 3px;
                    width: 100%;
                    bottom: -5px;
                    transform: scaleX(0);
                    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
    
                &:hover {
    
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }


        li.current_page_item {

            a {

                &::before {
                    background-color: var(--color-primario);
                    transform: scaleX(1);
                }
            }
        }
    }

}

.navegacion.navegacion_scroll {

    .navegacion__logotipo img {
        max-width: 110px;    }
}

div.aws-search-result {

    .aws_result_title {
        color: black;
        text-decoration: underline;
        font-size: 1.1em;
    }

    .aws_search_more a {
        font-weight: 600;
        color: var(--color-primario);
        font-size: 1.1em;
    }
}


.navegacion-movil {
    background-color: white;
    max-width: 90%;

    .offcanvas-body {
        position: relative;
    }

    .custom-logo {
        max-width: 150px;
    }

    .boton-cerrar {
        font-size: 1.5em;
        color: black;
    }

    ul {
        list-style-type: none;
        margin: 0;
        margin-top: 1.5em;
        padding: 0;

        li {
            margin-bottom: 1.3em;
            border-bottom: 1px solid rgba(128, 128, 128, 0.308);

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    .redes-sociales {
        margin-top: 3em;
        position: absolute;
        bottom: 20px;

        a {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-texto-claro);
            margin-right: 15px;
            text-decoration: none;
            font-size: 1.1em;

            &:nth-of-type(1) {
                background-color: rgb(37, 94, 218);
            }

            &:nth-of-type(2) {
                background: radial-gradient(circle at 30% 107%, 
                #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }

            &:nth-of-type(3) {
                background-color: rgb(247, 23, 35);
            }
        }
    }
}

@media(max-width: 1199px) {

    .navegacion {

        .navegacion__contenido {
            grid-template-columns: 1fr;
        }

        .navegacion__buscador {
            grid-row: 2;
        }

        .navegacion__wrap {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            column-gap: 10px;

            .navegacion-carrito-container {
                justify-content: flex-end;
            }

            .navegacion__logotipo a {
                @include align-flex(centro);

                img {
                    max-width: 100px;
                }
            }

            .navegacion__toggler {
                color: black;
                width: min-content;
                justify-self: flex-start;
                padding: 0;
                font-size: 1.3em;

                span {
                    font-size: 0.7em;
                    margin-left: 4px;
                }

                &:focus, &:hover {
                    outline: 0;
                    border-color: transparent;
                    box-shadow: none;
                }
            }
        }

        .btn-ver-catalogo {
            font-size: 0.75em;
            width: max-content;
            justify-self: flex-end;
        }

        .navegacion__buscador {
            max-width: 100%;
            margin-left: 0;
            margin-top: 0.9em;

            .aws-search-form {
                height: 35px;
            }
        }
    }
}

.btn-ver-catalogo {
    display: flex;
    align-items: center;
    background-color: var(--color-primario);

    img {
        max-width: 25px;
        filter: invert(1);
        margin-left: 4px;
    }
}