body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

body.page, body.post {
    margin-bottom: 0;
}

.container-fluid ,
.n2-ss-slide-limiter {
    max-width: 1600px !important;
}

.container-fluid {
    padding-right: 2em;
    padding-left: 2em;
}

@media(max-width: 1190px) {

    .container-fluid {
        padding-right: 1em;
        padding-left: 1em;
    }
}

@media(max-width: 575px) {

    .n2-ss-slide.n2-ow.n2-ss-slide-6 {
        height: 420px;
    }
}

