.titulo-seccion {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    border-left: 8px solid;
    border-left-color: currentcolor;
    border-left-color: var(--color-primario);
    font-weight: 800;
    line-height: 0.8;
    padding-left: 10px;
    font-size: 1.7em;
    margin-bottom: 1em;
}


@media(max-width: 575px) {

    .titulo-seccion {
        font-size: 1.3em;
    }

}
