
:root {
    --color-primario         : #DA291C;
    --color-primario-hover   : #cf0b1d;
    
    --color-secundario       : #222222;
    --color-secundario-hover : #303030;

    --color-texto-oscuro     : #141414;
    --color-texto-claro      : white;
}








