/*!
Theme Name: bmc
Theme URI: http://underscores.me/
Author: MKR
Author URI: https://www.mkr.cl/
Description: Tema para el sitio web bmc.cl
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bmc
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=block");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
:root {
  --color-primario: #DA291C;
  --color-primario-hover: #cf0b1d;
  --color-secundario: #222222;
  --color-secundario-hover: #303030;
  --color-texto-oscuro: #141414;
  --color-texto-claro: white;
}

/**
 * Shop tables
 */
table.shop_table_responsive thead {
  display: none;
}

table.shop_table_responsive tbody th {
  display: none;
}

table.shop_table_responsive tr td {
  display: block;
  text-align: right;
  clear: both;
}

table.shop_table_responsive tr td::before {
  content: attr(data-title) ": ";
  float: left;
}

table.shop_table_responsive tr td.product-remove a {
  text-align: left;
}

table.shop_table_responsive tr td.product-remove::before {
  display: none;
}

table.shop_table_responsive tr td.actions::before,
table.shop_table_responsive tr td.download-actions::before {
  display: none;
}

table.shop_table_responsive tr td.download-actions .button {
  display: block;
  text-align: center;
}

@media screen and (min-width: 48em) {
  table.shop_table_responsive thead {
    display: table-header-group;
  }

  table.shop_table_responsive tbody th {
    display: table-cell;
  }

  table.shop_table_responsive tr th,
table.shop_table_responsive tr td {
    text-align: left;
  }

  table.shop_table_responsive tr td {
    display: table-cell;
  }

  table.shop_table_responsive tr td::before {
    display: none;
  }
}
/**
 * Products
 */
ul.products {
  margin: 0;
  padding: 0;
}

ul.products li.product {
  list-style: none;
  position: relative;
  margin-bottom: 2em;
}

ul.products li.product img {
  display: block;
  margin: auto;
}

ul.products li.product .button {
  display: block;
}

@media screen and (min-width: 48em) {
  ul.products li.product {
    width: 30.79667%;
    float: left;
    margin-right: 3.8%;
  }

  ul.products li.product.first {
    clear: both;
  }

  ul.products li.product.last {
    margin-right: 0;
  }

  ul.products.columns-1 li.product {
    float: none;
    width: 100%;
  }

  ul.products.columns-2 li.product {
    width: 48.1%;
  }

  ul.products.columns-3 li.product {
    width: 30.79667%;
  }

  ul.products.columns-4 li.product {
    width: 22.15%;
  }

  ul.products.columns-5 li.product {
    width: 16.96%;
  }

  ul.products.columns-6 li.product {
    width: 13.49333%;
  }
}
/**
 * Single product
 */
.single-product div.product {
  position: relative;
}

.single-product div.product .woocommerce-product-gallery {
  position: relative;
  float: left;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 2em;
  right: 1em;
  display: block;
  z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
  margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
  margin: 0;
  padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
  list-style: none;
  cursor: pointer;
  float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
  opacity: 0.5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
  opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
  opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
  width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
  clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
  width: 30.79667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
  clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
  clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
  clear: both;
}

.stock:empty::before {
  display: none;
}

.stock.in-stock {
  color: #0f834d;
}

.stock.out-of-stock {
  color: #e2401c;
}

.woocommerce ul.products {
  margin: 0;
  padding: 0;
}
.woocommerce ul.products li.product {
  list-style: none;
  position: relative;
  margin-bottom: 0;
  padding: 1.3em;
}
.woocommerce ul.products li.product .woocommerce-loop-product__link {
  text-decoration: none;
  color: var(--color-texto-oscuro);
}
.woocommerce ul.products li.product img {
  display: block;
  margin: auto;
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  font-size: 0.97em;
  margin: 0.4em 0;
  text-align: center;
  min-height: 55px;
  text-transform: uppercase;
}
.woocommerce ul.products li.product span.price {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 0.99em;
  color: var(--color-texto-oscuro);
}
.woocommerce ul.products li.product span.price del {
  font-size: 0.9em;
  font-weight: 500;
}
.woocommerce ul.products li.product span.onsale {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: red;
  color: var(--color-texto-claro);
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.3em 0.9em;
  min-height: unset;
  line-height: unset;
}
.woocommerce ul.products li.product .button {
  margin-top: 1.4em;
  padding: 0.6em 0.9em;
  border-radius: 50px;
  background-color: var(--color-primario);
  text-align: center;
  color: var(--color-texto-oscuro);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.86em;
  line-height: unset;
  display: none;
}
.woocommerce ul.products li.product .button:hover {
  background-color: var(--color-primario-hover);
}
.woocommerce ul.products li.product a.added_to_cart {
  display: block;
  margin: auto;
  margin-top: 0.8em;
  text-align: center;
  color: var(--color-texto-oscuro);
  text-decoration: none;
  font-size: 0.96em;
}
.woocommerce ul.products li.product a.added_to_cart:hover {
  text-decoration: underline;
}
.woocommerce ul.products li.product:hover img {
  transform: scale(1.1);
}
.woocommerce ul.products li.product:hover h2.woocommerce-loop-product__title {
  color: var(--color-primario);
}
.woocommerce ul.products::before {
  content: unset;
  display: unset;
}

@media (max-width: 1190px) {
  .woocommerce ul.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .woocommerce ul.products li.product {
    padding: 0.9em;
    margin-bottom: 0;
    width: 100% !important;
  }
  .woocommerce ul.products li.product h2.woocommerce-loop-product__title {
    font-size: 0.95em;
  }
  .woocommerce ul.products li.product span.onsale {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: red;
    color: var(--color-texto-claro);
    border-radius: 50px;
    font-size: 0.7em;
    font-weight: 700;
    padding: 0.3em 0.9em;
  }
  .woocommerce ul.products li.product span.price {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 0.8em;
  }
}
@media (max-width: 760px) {
  .woocommerce ul.products {
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
  .woocommerce ul.products li.product {
    margin-bottom: 0 !important;
  }
  .woocommerce ul.products li.product .button, .woocommerce ul.products li.product a.added_to_cart {
    font-size: 0.85em;
  }
}
/**
 * Checkout
 */
@media screen and (min-width: 768px) {
  .col2-set .form-row-first {
    float: left;
    margin-right: 3.8%;
  }

  .col2-set .form-row-last {
    float: right;
    margin-right: 0;
  }

  .col2-set .form-row-first,
.col2-set .form-row-last {
    width: 48.1%;
  }
}
/**
 * Star rating
 */
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  width: 5.3em;
  font-family: star;
  font-weight: 400;
}

.star-rating::before {
  content: "SSSSS";
  opacity: 0.25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span::before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
  color: #4169e1;
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  margin-right: 1px;
  font-weight: 400;
}

p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: star;
  content: "S";
  color: #404040;
  text-indent: 0;
  opacity: 0.25;
}

p.stars a:hover ~ a::before {
  content: "S";
  color: #404040;
  opacity: 0.25;
}

p.stars:hover a::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

p.stars.selected a.active::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

p.stars.selected a.active ~ a::before {
  content: "S";
  color: #404040;
  opacity: 0.25;
}

p.stars.selected a:not(.active)::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

/**
 * Notifications woocommerce
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  clear: both;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  background-color: white;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
  border-radius: 0px 0px 10px 10px;
  font-size: 0.95em;
}
.woocommerce-message a,
.woocommerce-info a,
.woocommerce-error a {
  font-weight: 500;
  color: var(--color-texto-oscuro);
}

.woocommerce-info {
  border-top-color: dodgerblue;
}
.woocommerce-info:before {
  color: dodgerblue;
}

.woocommerce-error {
  border-top-color: #e2401c;
}
.woocommerce-error:before {
  color: #e2401c;
}

.woocommerce-message {
  border-top-color: var(--color-primario);
}
.woocommerce-message:before {
  color: var(--color-primario);
}

.woocommerce-store-notice.demo_store {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: unset;
  margin: 0;
  padding: 1em;
  z-index: 9999;
  display: block;
  position: fixed;
  border-top: 3px solid #f8f41e;
  background-color: #f8f41e;
  color: #222;
}
.woocommerce-store-notice.demo_store a {
  font-weight: 700;
  color: #222;
}

.woocommerce nav.woocommerce-pagination ul.page-numbers {
  border: 0;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li {
  border-right: 0;
  margin-right: 17px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: transparent;
  color: var(--color-texto-oscuro);
  border: 2px solid var(--color-secundario);
  border-radius: 10px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li span.page-numbers.current {
  color: var(--color-texto-claro);
  background-color: var(--color-secundario);
  border-color: transparent;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.prev, .woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.next {
  border-color: transparent;
  background-color: transparent;
  color: var(--color-texto-oscuro);
  transition: 0.3s ease-in-out;
}

/**
 * Tabs
 */
.woocommerce-tabs ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.woocommerce-tabs ul.tabs li {
  display: block;
  margin: 0;
  position: relative;
}

.woocommerce-tabs ul.tabs li a {
  padding: 1em 0;
  display: block;
}

.woocommerce-tabs .panel h2:first-of-type {
  margin-bottom: 1em;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
  text-align: right;
}

.woocommerce-password-strength.strong {
  color: #0f834d;
}

.woocommerce-password-strength.short {
  color: #e2401c;
}

.woocommerce-password-strength.bad {
  color: #e2401c;
}

.woocommerce-password-strength.good {
  color: #3d9cd2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
  box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
  box-shadow: inset 2px 0 0 #e2401c;
}

.required {
  color: #f00;
}

.pswp {
  animation: pswp-fade-in 1.1s ease-in-out;
}
.pswp .pswp__bg {
  background: white;
}
.pswp .pswp__scroll-wrap .pswp__button {
  filter: invert(1);
}
.pswp .pswp__scroll-wrap .pswp__top-bar,
.pswp .pswp__scroll-wrap .pswp__caption {
  background-color: rgba(0, 0, 0, 0.1);
}
.pswp .pswp__scroll-wrap .pswp__top-bar .pswp__counter {
  color: black;
}
.pswp .pswp__scroll-wrap .pswp__caption .pswp__caption__center {
  color: black;
  text-align: center;
}

@keyframes pswp-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 765px) {
  .pswp .pswp__scroll-wrap .pswp__top-bar {
    bottom: 0;
    top: unset;
  }
  .pswp .pswp__scroll-wrap .pswp__caption {
    bottom: unset;
    top: 0;
  }
}
.yikes-easy-mc-error-message,
.yikes-easy-mc-success-message {
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  margin-bottom: 1.4em;
  font-size: 0.9em;
}
.yikes-easy-mc-error-message .yikes-easy-mc-success-message,
.yikes-easy-mc-success-message .yikes-easy-mc-success-message {
  margin: 0;
  padding: 0;
}

iframe#tidio-chat-iframe {
  z-index: 80000 !important;
}

.xoo-wsc-container {
  z-index: 1099999999 !important;
}

img {
  height: auto;
  max-width: 100%;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.titulo-seccion {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  border-left: 8px solid;
  border-left-color: currentcolor;
  border-left-color: var(--color-primario);
  font-weight: 800;
  line-height: 0.8;
  padding-left: 10px;
  font-size: 1.7em;
  margin-bottom: 1em;
}

@media (max-width: 575px) {
  .titulo-seccion {
    font-size: 1.3em;
  }
}
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body.page, body.post {
  margin-bottom: 0;
}

.container-fluid,
.n2-ss-slide-limiter {
  max-width: 1600px !important;
}

.container-fluid {
  padding-right: 2em;
  padding-left: 2em;
}

@media (max-width: 1190px) {
  .container-fluid {
    padding-right: 1em;
    padding-left: 1em;
  }
}
@media (max-width: 575px) {
  .n2-ss-slide.n2-ow.n2-ss-slide-6 {
    height: 420px;
  }
}
.navegacion {
  background-color: white;
  padding: 0.8em 0;
  box-shadow: 2px 2px 10px 5px #00000017;
}
.navegacion .navegacion__contenido {
  display: grid;
  grid-template-columns: min-content auto auto;
  align-items: center;
}
.navegacion .navegacion__logotipo img {
  max-width: 170px;
  transition: max-width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navegacion .navegacion__buscador {
  width: 100%;
  overflow: hidden;
}
.navegacion .navegacion__buscador input.aws-search-field {
  font-size: 0.98em;
  padding-left: 1.2em;
  border-radius: 4px 0px 0px 4px !important;
  border-right: 0;
}
.navegacion .navegacion__buscador div.aws-search-btn.aws-form-btn {
  background-color: transparent;
  border-radius: 0px 4px 8px 4px !important;
  border-left: 0;
}
.navegacion .navegacion__buscador div.aws-search-btn.aws-form-btn span {
  color: var(--color-texto-oscuro);
}
.navegacion .navegacion__menu {
  display: flex;
}
.navegacion #primary-menu.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navegacion #primary-menu.menu li {
  margin-right: 25px;
}
.navegacion #primary-menu.menu li a {
  color: var(--color-texto-oscuro);
  text-decoration: none;
  font-size: 0.98em;
  position: relative;
}
.navegacion #primary-menu.menu li a:before {
  content: "";
  position: absolute;
  background-color: #d8d8d8;
  height: 3px;
  width: 100%;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navegacion #primary-menu.menu li a:hover::before {
  transform: scaleX(1);
}
.navegacion #primary-menu.menu li.current_page_item a::before {
  background-color: var(--color-primario);
  transform: scaleX(1);
}

.navegacion.navegacion_scroll .navegacion__logotipo img {
  max-width: 110px;
}

div.aws-search-result .aws_result_title {
  color: black;
  text-decoration: underline;
  font-size: 1.1em;
}
div.aws-search-result .aws_search_more a {
  font-weight: 600;
  color: var(--color-primario);
  font-size: 1.1em;
}

.navegacion-movil {
  background-color: white;
  max-width: 90%;
}
.navegacion-movil .offcanvas-body {
  position: relative;
}
.navegacion-movil .custom-logo {
  max-width: 150px;
}
.navegacion-movil .boton-cerrar {
  font-size: 1.5em;
  color: black;
}
.navegacion-movil ul {
  list-style-type: none;
  margin: 0;
  margin-top: 1.5em;
  padding: 0;
}
.navegacion-movil ul li {
  margin-bottom: 1.3em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.navegacion-movil ul li a {
  color: black;
  text-decoration: none;
}
.navegacion-movil .redes-sociales {
  margin-top: 3em;
  position: absolute;
  bottom: 20px;
}
.navegacion-movil .redes-sociales a {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-claro);
  margin-right: 15px;
  text-decoration: none;
  font-size: 1.1em;
}
.navegacion-movil .redes-sociales a:nth-of-type(1) {
  background-color: #255eda;
}
.navegacion-movil .redes-sociales a:nth-of-type(2) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.navegacion-movil .redes-sociales a:nth-of-type(3) {
  background-color: #f71723;
}

@media (max-width: 1199px) {
  .navegacion .navegacion__contenido {
    grid-template-columns: 1fr;
  }
  .navegacion .navegacion__buscador {
    grid-row: 2;
  }
  .navegacion .navegacion__wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 10px;
  }
  .navegacion .navegacion__wrap .navegacion-carrito-container {
    justify-content: flex-end;
  }
  .navegacion .navegacion__wrap .navegacion__logotipo a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navegacion .navegacion__wrap .navegacion__logotipo a img {
    max-width: 100px;
  }
  .navegacion .navegacion__wrap .navegacion__toggler {
    color: black;
    width: min-content;
    justify-self: flex-start;
    padding: 0;
    font-size: 1.3em;
  }
  .navegacion .navegacion__wrap .navegacion__toggler span {
    font-size: 0.7em;
    margin-left: 4px;
  }
  .navegacion .navegacion__wrap .navegacion__toggler:focus, .navegacion .navegacion__wrap .navegacion__toggler:hover {
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }
  .navegacion .btn-ver-catalogo {
    font-size: 0.75em;
    width: max-content;
    justify-self: flex-end;
  }
  .navegacion .navegacion__buscador {
    max-width: 100%;
    margin-left: 0;
    margin-top: 0.9em;
  }
  .navegacion .navegacion__buscador .aws-search-form {
    height: 35px;
  }
}
.btn-ver-catalogo {
  display: flex;
  align-items: center;
  background-color: var(--color-primario);
}
.btn-ver-catalogo img {
  max-width: 25px;
  filter: invert(1);
  margin-left: 4px;
}

.copyright {
  background-color: #181818;
  color: white;
  text-align: center;
  padding: 0.6em;
  font-size: 0.8em;
  margin: 0;
}

.seccion-footer {
  background-color: #3D4043;
  color: white;
}
.seccion-footer h4 {
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 600;
}
.seccion-footer .footer__logo img {
  max-width: 180px;
}
.seccion-footer .footer-menu {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  max-width: 300px;
  margin: 0;
}
.seccion-footer .footer-menu li {
  margin-bottom: 0.6em;
  line-height: 1;
}
.seccion-footer .footer-menu a {
  text-decoration: none;
  color: var(--color-texto-claro);
  font-size: 0.9em;
}
.seccion-footer .footer-menu a:hover {
  opacity: 0.8;
}
.seccion-footer .footer-menu a:last-of-type {
  margin-bottom: 0;
}
.seccion-footer .redes-sociales {
  display: flex;
}
.seccion-footer .redes-sociales a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-claro);
  text-decoration: none;
  font-size: 1em;
  transition: 0.6s ease-in-out;
}

@media (max-width: 768px) {
  .seccion-footer {
    text-align: center;
  }
  .seccion-footer h4 {
    margin-top: 2em;
  }
  .seccion-footer .footer-menu {
    columns: unset;
    -webkit-columns: unset;
    -moz-columns: unset;
  }
}
.banner-header {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  position: relative;
  background-color: var(--color-primario);
  overflow: hidden;
  animation: animacion-banner 1.4s;
  animation-fill-mode: both;
}
.banner-header .banner-header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 1;
  animation: animacion-banner__bg 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: both;
  clip-path: polygon(-1.35% -0.1%, 53.97% 0%, 47.6% 106.3%, -1.18% 106.3%);
}
.banner-header .banner-header__texto {
  position: relative;
  grid-column: 1/2;
  padding: 4.3em 0;
  padding-left: 2em;
  z-index: 2;
  animation: animacion-banner__fade 1.3s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.banner-header .banner-header__texto h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 4.2em;
  margin-bottom: 0.2em;
}
.banner-header .banner-header__img {
  height: auto;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2/3;
  clip-path: polygon(25% 0%, 101% 0%, 101% 101%, 15% 101%);
  -webkit-clip-path: polygon 50% 0%, 0% 100%, 100% 100%;
  animation: animacion-banner__fade 1.3s ease-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}

@keyframes animacion-banner {
  0% {
    background-color: var(--color-primario);
  }
  90% {
    background-color: var(--color-primario);
  }
  100% {
    background-color: #f6f6f6;
  }
}
@keyframes animacion-banner__bg {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animacion-banner__fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 775px) {
  .banner-header {
    grid-template-columns: 1fr;
  }
  .banner-header .banner-header__bg {
    grid-column: 1/3;
    grid-row: 1/2;
    clip-path: unset;
  }
  .banner-header .banner-header__texto {
    padding: 3.4em 1.4em;
    grid-column: 1;
    text-align: center;
  }
  .banner-header .banner-header__texto h1 {
    font-size: 3.4em;
  }
  .banner-header .banner-header__img {
    height: 200px;
    clip-path: unset;
    grid-column: 1;
  }
}
@media (max-width: 565px) {
  .banner-header .banner-header__texto {
    padding: 3em 1em;
  }
  .banner-header .banner-header__texto h1 {
    font-size: 2em;
  }
  .banner-header .banner-header__img {
    height: 170px;
  }
}
.btn {
  border-radius: 2px;
}

.btn-primary,
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading {
  background-color: var(--color-primario);
  z-index: 3;
  position: relative;
  overflow: hidden;
  border: 0;
  color: white;
}
.btn-primary::before,
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading::before {
  background: #cf0b1d;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: -3.14285714em;
  top: 0;
  -webkit-transform: translate3d(-100%, 0, 0) skewX(-15deg);
  transform: translate3d(-100%, 0, 0) skewX(-15deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: -1;
}
.btn-primary:hover::before,
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading:hover::before {
  transform: translate3d(0, 0, 0) skewX(-15deg);
}
.btn-primary:hover i,
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading:hover i {
  animation: animacion_btn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.btn-primary:focus, .btn-primary:active,
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading:focus,
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading:active {
  box-shadow: unset;
  outline: 0;
  border: 0;
  background-color: #cf0b1d;
}
.btn-primary:hover,
.btn-slider-header a.n2-style-74724f76a57f6cba832b89e3ee6ceb2a-heading:hover {
  background-color: var(--color-primario);
}
@keyframes animacion_btn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.productos-destacados {
  margin-top: 5em;
}
.productos-destacados .producto-destacado {
  display: grid;
  grid-template-columns: min-content 1fr;
  box-sizing: border-box;
}
.productos-destacados .producto-destacado .producto-destacado__titulo {
  grid-column: 1/2;
  grid-row: 1;
  align-self: center;
}
.productos-destacados .producto-destacado .producto-destacado__btn {
  grid-column: 1/2;
  grid-row: 2;
  align-self: start;
  text-align: center;
}
.productos-destacados .producto-destacado .producto-destacado__imagen {
  grid-column: 2/3;
  grid-row: 1/3;
}
.productos-destacados .producto-destacado__titulo {
  font-size: 3.7em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
}
.productos-destacados .producto-destacado__btn {
  background-color: var(--color-primario);
  color: white;
  padding: 0.7em 2.4em;
  font-size: 1.3em;
  text-decoration: none;
  margin-top: 1em;
  display: inline-block;
}
.productos-destacados .swiper-pagination {
  top: 0;
  left: 0;
  width: auto;
  display: flex;
  align-items: flex-end;
  bottom: unset;
  max-width: 320px;
}
.productos-destacados .swiper-pagination span {
  border-radius: 0;
  height: unset;
  width: unset;
  margin: 0 !important;
  background-color: transparent;
  max-width: 70px;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.productos-destacados .swiper-pagination span img {
  width: 100%;
}
.productos-destacados .swiper-pagination span p {
  text-transform: capitalize;
  font-size: 1.1em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}
.productos-destacados .swiper-pagination span:hover {
  opacity: 0.4;
}
.productos-destacados .slider-navegacion {
  position: absolute;
  right: 10px;
  top: 30px;
  max-width: 100px;
  width: 100%;
  font-size: 0.9em;
}
.productos-destacados .slider-navegacion .swiper-button-next::after,
.productos-destacados .slider-navegacion .swiper-button-prev::after {
  font-size: 1.3em;
  font-weight: bolder;
  color: black;
}

.banner-sobre-nosotros {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}
.banner-sobre-nosotros .banner-sobre-nosotros__imagen {
  background-image: url("assets/img/banner.jpg");
  background-size: cover;
}
.banner-sobre-nosotros .banner-sobre-nosotros__texto {
  padding: 4em;
  background-color: var(--color-primario);
  color: white;
}
.banner-sobre-nosotros .banner-sobre-nosotros__texto h3 {
  font-family: "Barlow Condensed";
  font-size: 2.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.categorias-bicicletas {
  margin-top: 7em;
}
.categorias-bicicletas .categoria-bicicleta {
  position: relative;
  overflow: hidden;
}
.categorias-bicicletas .categoria-bicicleta .categoria-bicicleta__texto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.123));
  transition: background 0.5s ease-in-out;
}
.categorias-bicicletas .categoria-bicicleta .categoria-bicicleta__texto .categoria-bicicleta__titulo {
  position: relative;
}
.categorias-bicicletas .categoria-bicicleta .categoria-bicicleta__texto .categoria-bicicleta__titulo p {
  margin: 0;
}
.categorias-bicicletas .categoria-bicicleta .categoria-bicicleta__texto .categoria-bicicleta__titulo .cruz {
  width: 8px;
  height: 25px;
  background-color: var(--color-primario);
  position: relative;
  float: right;
  transform: rotate(90deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.categorias-bicicletas .categoria-bicicleta .categoria-bicicleta__texto .categoria-bicicleta__titulo .cruz::before {
  content: "";
  width: 8px;
  height: 25px;
  background-color: var(--color-primario);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.4s;
}
.categorias-bicicletas .categoria-bicicleta img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 200px;
  transition: 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: -1;
}
.categorias-bicicletas .categoria-bicicleta:hover img {
  transform: scale(1.1);
}
.categorias-bicicletas .categoria-bicicleta:hover .categoria-bicicleta__texto .categoria-bicicleta__titulo .cruz {
  transform: rotate(0deg);
}
.categorias-bicicletas .categoria-bicicleta:hover .categoria-bicicleta__texto .categoria-bicicleta__titulo .cruz::before {
  transform: translate(-55%, -50%) rotate(90deg);
}

.seccion-novedades {
  margin: 3em 0;
}
.seccion-novedades .ver-mas-productos {
  background-color: var(--color-primario);
  color: var(--color-texto-claro);
  padding: 0.5em 1.4em;
  transition: background-color 0.4s ease-in-out;
  font-size: 1.1em;
}

.banner-sobre-nosotros,
.seccion-novedades,
.categorias-bicicletas {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translatey(50px);
}

.banner-sobre-nosotros.fade-in-bmc,
.seccion-novedades.fade-in-bmc,
.categorias-bicicletas.fade-in-bmc {
  transform: translatey(0);
  opacity: 1;
}

@media (max-width: 1190px) {
  .productos-destacados .producto-destacado {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .productos-destacados .producto-destacado .producto-destacado__titulo,
.productos-destacados .producto-destacado .producto-destacado__btn,
.productos-destacados .producto-destacado .producto-destacado__imagen {
    grid-column: 1;
  }
  .productos-destacados .producto-destacado .producto-destacado__titulo {
    grid-row: 1;
    margin-top: 2em;
    text-align: center;
    font-size: 2.3em;
  }
  .productos-destacados .producto-destacado .producto-destacado__btn {
    grid-row: 3;
    max-width: 280px;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    font-size: 1em;
  }
  .productos-destacados .producto-destacado .producto-destacado__imagen {
    grid-row: 2;
  }
}
@media (max-width: 990px) {
  .banner-sobre-nosotros {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1fr;
  }
  .banner-sobre-nosotros .banner-sobre-nosotros__imagen {
    background-image: url("assets/img/banner.jpg");
    background-size: cover;
    height: 170px;
  }
  .banner-sobre-nosotros .banner-sobre-nosotros__texto {
    padding: 2em;
    background-color: var(--color-primario);
    color: white;
  }
  .banner-sobre-nosotros .banner-sobre-nosotros__texto h3 {
    font-family: "Barlow Condensed";
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .producto-destacado {
    padding: 1em;
    display: grid;
    grid-template-rows: 200px auto 200px;
  }
  .producto-destacado .producto-destacado__texto {
    grid-row: 2/3;
  }
  .producto-destacado .producto-destacado__texto h2 {
    margin-top: 0;
  }
  .producto-destacado .producto-destacado__img-izquierda,
.producto-destacado .producto-destacado__img-derecha {
    max-width: 260px;
    z-index: -1;
  }
  .producto-destacado .producto-destacado__img-izquierda {
    grid-row: 3/4;
  }
  .producto-destacado .producto-destacado__img-derecha {
    grid-row: 1/2;
  }
}
@media (max-width: 750px) {
  .productos-destacados .slider-navegacion {
    position: unset;
  }
  .productos-destacados .slider-navegacion .swiper-button-next::after,
.productos-destacados .slider-navegacion .swiper-button-prev::after {
    font-size: 1.4em;
  }

  .producto-destacado p {
    font-size: 0.86em;
  }
  .producto-destacado .producto-destacado__img-izquierda,
.producto-destacado .producto-destacado__img-derecha {
    max-width: 200px;
    z-index: -1;
  }

  .newsletter {
    padding: 3em 0em;
  }
  .newsletter .newsletter__contenido {
    padding: 1em;
  }
  .newsletter .newsletter__titulo {
    font-size: 1.4em;
  }
  .newsletter .newsletter__bajada {
    font-size: 1.1em;
  }
  .newsletter .yikes-mailchimp-container .yikes-easy-mc-form {
    display: block;
  }
  .newsletter .yikes-mailchimp-container .yikes-easy-mc-form button, .newsletter .yikes-mailchimp-container .yikes-easy-mc-form input {
    border-radius: 50px;
  }
}
.pagina-tienda {
  margin-bottom: 3em;
}
.pagina-tienda .pagina-tienda__banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.3em 0em;
  margin-bottom: 2em;
  color: var(--color-texto-claro);
}
.pagina-tienda .pagina-tienda__banner h1 {
  font-weight: 700;
  position: relative;
  z-index: 3;
  margin: 0;
}
.pagina-tienda .pagina-tienda__banner::after {
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to right, #000000db, #00000036);
}
.pagina-tienda .pagina-tienda__breadcrumb {
  margin-bottom: 2em;
  font-size: 1.2em;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area {
  padding: 0.4em;
  top: 100px;
  position: sticky;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area p {
  margin-bottom: 0;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area h3 {
  font-size: 1.34em;
  margin-bottom: 0.9em;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area ul {
  padding: 0;
  font-size: 0.91em;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area ul li {
  margin-bottom: 0.4em !important;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area ul li ul li {
  margin: 0.5em 0em !important;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area ul li ul li input {
  transform: scale(0.79);
}
.pagina-tienda .pagina-tienda__sidebar .widget-area .bapf_button.bapf_reset {
  background-color: var(--color-primario);
  color: white;
  width: 100%;
  padding: 0.6em 1.4em;
  border: 0;
}
.pagina-tienda .btn-filtro-movil {
  height: 55px;
  width: 55px;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: var(--color-primario);
  border: 0;
  box-shadow: rgba(41, 50, 60, 0.24) 0px 2px 12px;
}
.pagina-tienda .btn-filtro-movil i {
  color: white;
  font-size: 1.4em;
  line-height: 1.6em;
}
.pagina-tienda .pagina-tienda__lista-productos .woocommerce-result-count {
  font-size: 0.95em;
}
.pagina-tienda .pagina-tienda__lista-productos .orderby {
  padding: 0.7em;
  font-size: 0.95em;
  border-radius: 10px;
}
.pagina-tienda .pagina-tienda__lista-productos ul.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 2em;
}
.pagina-tienda .pagina-tienda__lista-productos ul.products li.product {
  width: 100%;
  margin-bottom: 0;
}

.pagina-tienda__sidebar-modal .widget {
  border-bottom: 1px solid #0000001c;
}
.pagina-tienda__sidebar-modal .widget:last-of-type {
  border-bottom: 0;
}
.pagina-tienda__sidebar-modal .widget h3 {
  font-size: 1.3em;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
}
.pagina-tienda__sidebar-modal .widget h3 i {
  font-size: 0.9em;
}
.pagina-tienda__sidebar-modal .widget div.bapf_sfilter div.bapf_body > ul {
  padding-left: 0;
  font-size: 0.95em;
  margin-top: 1.5em !important;
}
.pagina-tienda__sidebar-modal .widget div.bapf_sfilter div.bapf_body > ul i {
  font-size: 0.86em;
  margin-left: 10px;
}
.pagina-tienda__sidebar-modal .widget div.bapf_sfilter div.bapf_body > ul li {
  margin-bottom: 0.6em !important;
}
.pagina-tienda__sidebar-modal .widget div.bapf_sfilter div.bapf_body > ul li ul {
  padding: 0;
}
.pagina-tienda__sidebar-modal .widget div.bapf_sfilter div.bapf_body > ul li li {
  margin: 0.6em 0 !important;
}
.pagina-tienda__sidebar-modal .widget div.bapf_sfilter div.bapf_body > ul li li input {
  transform: scale(0.8);
}
.pagina-tienda__sidebar-modal .widget button.bapf_button, .pagina-tienda__sidebar-modal .widget button {
  width: 100%;
  border-radius: 4px;
  background-color: var(--color-primario);
  font-size: 0.97em;
  color: white;
  border: 0;
  padding: 0.8em 1.4em;
}
.pagina-tienda__sidebar-modal .widget button.bapf_button:hover, .pagina-tienda__sidebar-modal .widget button:hover {
  background-color: unset;
  color: unset;
}

@media (max-width: 1190px) {
  .pagina-tienda .pagina-tienda__sidebar .widget-area {
    top: 140px;
  }
}
@media (max-width: 991px) {
  .pagina-tienda .pagina-tienda__banner {
    padding: 1.6em 0.5em;
    background-position: center;
  }
  .pagina-tienda .pagina-tienda__banner h1 {
    font-size: 1.6em;
  }
  .pagina-tienda .pagina-tienda__breadcrumb {
    margin-bottom: 1em;
  }
  .pagina-tienda .pagina-tienda__sidebar {
    margin-bottom: 3em;
  }
  .pagina-tienda .pagina-tienda__sidebar .widget-area {
    position: unset;
  }
  .pagina-tienda .pagina-tienda__lista-productos .woocommerce-ordering {
    float: none;
  }
  .pagina-tienda .pagina-tienda__lista-productos .orderby {
    width: 100%;
    font-size: 0.85em;
  }
  .pagina-tienda .pagina-tienda__lista-productos ul.products {
    grid-template-columns: 1fr;
  }
}
.pagina-producto {
  margin: 2.5em 0;
}
.pagina-producto .woocommerce-breadcrumb {
  max-width: 550px;
}
.pagina-producto div.product .onsale {
  background-color: red;
  border-radius: 50px;
  min-width: unset;
  min-height: unset;
  line-height: unset;
  font-size: 0.7em;
  padding: 0.5em 1em;
  top: 9px;
  left: 9px;
}
.pagina-producto div.product div.images.woocommerce-product-gallery {
  margin-bottom: 6em;
  float: right;
  width: 68%;
}
.pagina-producto div.product .woocommerce-product-gallery__trigger {
  opacity: 0;
}
.pagina-producto div.product ul.flex-direction-nav {
  position: absolute;
  top: 50%;
  z-index: 40;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0px;
  list-style: none;
  transform: translate(0%, -50%);
}
.pagina-producto div.product li.flex-nav-prev {
  float: left;
}
.pagina-producto div.product li.flex-nav-next {
  float: right;
}
.pagina-producto div.product a.flex-next {
  visibility: hidden;
}
.pagina-producto div.product a.flex-prev {
  visibility: hidden;
}
.pagina-producto div.product a.flex-next::after {
  visibility: visible;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  font-size: 2em;
  font-weight: bold;
}
.pagina-producto div.product a.flex-prev::before {
  visibility: visible;
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  margin-left: 10px;
  font-size: 2em;
  font-weight: bold;
}
.pagina-producto div.product ul.flex-direction-nav li a {
  color: #919191;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.pagina-producto div.product .flex-control-nav.flex-control-thumbs {
  display: none;
}
.pagina-producto div.product div.images.woocommerce-product-gallery:hover ul.flex-direction-nav li a {
  display: block;
  opacity: 1;
}
.pagina-producto div.product div.images.woocommerce-product-gallery:hover .woocommerce-product-gallery__trigger {
  opacity: 1;
}
.pagina-producto div.product div.summary {
  margin: 0;
  float: left;
  width: 28%;
}
.pagina-producto div.product div.summary .product_title {
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 0.4em;
  font-size: 4.5em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}
.pagina-producto div.product div.summary .sku_wrapper {
  font-size: 0.88em;
}
.pagina-producto div.product div.summary .sku_wrapper span {
  font-weight: 700;
}
.pagina-producto div.product div.summary .price {
  font-size: 1.7em;
  color: red;
  font-weight: 700;
  margin: 1em 0;
}
.pagina-producto div.product div.summary .price del {
  font-size: 0.6em;
  color: #474646;
}
.pagina-producto div.product div.summary .stock.in-stock {
  margin-bottom: 0.5em;
  color: #555655;
}
.pagina-producto div.product div.summary .woocommerce-product-details__short-description {
  display: none;
}
.pagina-producto div.product div.summary form.cart div.quantity {
  margin-right: 25px;
  position: relative;
}
.pagina-producto div.product div.summary form.cart div.quantity input.qty {
  border-radius: 50px;
  padding: 0.4em 2em;
  padding-right: 1em;
  width: 100%;
  max-width: 140px;
  height: 40px;
}
.pagina-producto div.product div.summary form.cart div.quantity input.qty:focus-visible {
  outline: 0;
}
.pagina-producto div.product div.summary form.cart div.quantity .plus, .pagina-producto div.product div.summary form.cart div.quantity .minus {
  position: absolute;
  right: 0;
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #ccc;
  border-left: 0;
  height: 40px;
  background-color: white;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  padding: 0;
  width: 40px;
}
.pagina-producto div.product div.summary form.cart div.quantity .plus i, .pagina-producto div.product div.summary form.cart div.quantity .minus i {
  font-size: 0.9em;
  transition: font-weight 0.6s ease-in-out;
}
.pagina-producto div.product div.summary form.cart div.quantity .plus:hover i, .pagina-producto div.product div.summary form.cart div.quantity .minus:hover i {
  font-weight: 700;
}
.pagina-producto div.product div.summary form.cart div.quantity .minus {
  left: 0;
  right: unset;
  border-radius: 50px 0px 0px 50px;
  border-right: 0;
}
.pagina-producto div.product div.summary form.cart button.single_add_to_cart_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario);
  color: var(--color-texto-oscuro);
  border-radius: 50px;
  padding: 0.9em 2.9em;
  font-size: 0.98em;
  transition: all 0.4s ease-in-out;
}
.pagina-producto div.product div.summary form.cart button.single_add_to_cart_button svg, .pagina-producto div.product div.summary form.cart button.single_add_to_cart_button i {
  font-size: 1.2em;
  margin-left: 0.5em;
}
.pagina-producto div.product div.summary form.cart button.single_add_to_cart_button:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
}
.pagina-producto div.product div.summary form.cart a.added_to_cart {
  display: none;
}
.pagina-producto div.product div.summary form.cart.variations_form {
  display: flex;
  flex-direction: column;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations {
  order: 1;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations .label, .pagina-producto div.product div.summary form.cart.variations_form .variations .value {
  display: block;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations .label .variation_name_label {
  font-size: 0.95em;
  font-weight: 500;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations .value .attribute_peso, .pagina-producto div.product div.summary form.cart.variations_form .variations .value .attribute_peso-kg {
  display: flex;
  font-size: 0.96em;
}
.pagina-producto div.product div.summary form.cart.variations_form .single_variation_wrap {
  order: 0;
  width: 100%;
  margin-bottom: 2em;
}
.pagina-producto div.product div.summary form.cart.variations_form .single_variation_wrap .woocommerce-variation-price {
  font-size: 0.8em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper {
  margin-top: 4em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs {
  padding: 0;
  margin-bottom: 0;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li {
  margin: 0;
  margin-right: 2px;
  border-radius: 10px 10px 0px 0px;
  font-size: 0.95em;
  border-bottom: 0;
  background-color: transparent;
  padding: 0;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li a {
  padding: 0.5em 1em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li::after, .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li::before {
  content: unset;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active::after {
  box-shadow: unset;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs::before {
  content: unset;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel {
  background-color: white;
  box-shadow: 2px 10px 10px 2px #0000000f;
  border-radius: 0px 0px 10px 10px;
  padding: 1em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-weight: 600;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel p {
  font-size: 0.95em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--additional_information table {
  font-size: 0.95em;
  margin-top: 1em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .woocommerce-noreviews {
  background-color: transparent;
  color: gray;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond .comment-reply-title {
  margin-bottom: 1em;
  display: block;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form .comment-form-author label,
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form .comment-form-email label {
  display: block;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form p.form-submit {
  text-align: end;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form p.form-submit input#submit.submit {
  background-color: var(--color-primario);
  border-radius: 50px;
  color: var(--color-texto-oscuro);
  font-size: 0.96em;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__sidebar {
  height: 100vh;
  overflow: hidden;
  z-index: 890;
  top: 40px;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__sidebar h2 {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: white;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__sidebar img {
  height: 100%;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .nav-tabs {
  border: 0;
  justify-content: center;
  margin: 0;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .nav-tabs .nav-item .nav-link {
  color: #161616;
  padding: 0;
  margin-right: 1.9em;
  padding-bottom: 0.2em;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .nav-tabs .nav-item .nav-link.active {
  border-bottom: 4px solid var(--color-primario);
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__img {
  max-width: 650px;
  width: 100%;
  display: block;
  margin: auto;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla {
  max-width: 750px;
  width: 100%;
  margin: auto;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla thead {
  border-bottom: 1px solid black;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla thead tr th {
  text-align: center;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla thead tr th:first-of-type {
  text-align: start;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla tr td {
  border-right: 1px solid black;
  text-align: center;
  font-size: 0.95em;
  padding: 0.5em;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla tr td:first-of-type {
  text-align: start;
  width: max-content;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla tr td:last-of-type {
  border-right: 0;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla {
  max-width: 650px;
  width: 100%;
  margin: auto;
  margin-top: 3em;
  font-size: 0.95em;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla tr td {
  border-bottom: 1px solid var(--color-primario);
  padding: 1.4em 0;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla tr td ul {
  margin-bottom: 0;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla tr td ul li {
  margin-left: 15px;
  font-size: 0.95em;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla tr td ul li:first-of-type {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  font-size: 1em;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla tr td:first-of-type {
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: top;
  width: 180px;
}
.pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla tr td:first-of-type ul {
  margin: 0;
  padding: 0;
}
.pagina-producto .related.products h2:not(.woocommerce-loop-product__title),
.pagina-producto .up-sells.upsells.products h2:not(.woocommerce-loop-product__title) {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.4em;
  border-left: 6px solid var(--color-primario);
  padding-left: 0.5em;
  line-height: 0.96;
  margin-top: 3em;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}

.info-distribuidores .btn-modal-distribuidores {
  background-color: var(--color-primario);
  color: white;
  font-size: 1.1em;
  padding: 0.8em 1.8em;
}

.pagina-producto-modal .modal-content {
  border-radius: 2px;
}
.pagina-producto-modal .modal-header {
  justify-content: center;
}
.pagina-producto-modal .modal-header h3 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0.2em;
}
.pagina-producto-modal .modal-header .btn-close {
  font-size: 0.7em;
  position: absolute;
  right: 10px;
  top: 10px;
}
.pagina-producto-modal .modal-body .nav-tabs .nav-link {
  color: #525252;
  border-radius: 0;
}
.pagina-producto-modal .modal-body .nav-tabs .nav-link.active {
  color: black;
}
.pagina-producto-modal .modal-body .distribuidor-modal__titulo {
  border-left: 5px solid var(--color-primario);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 0.8;
  padding-left: 5px;
}
.pagina-producto-modal .modal-body .distribuidor-modal__informacion {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2em;
}
.pagina-producto-modal .modal-body .distribuidor-modal__informacion li {
  font-size: 0.9em;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
  color: #535353;
}
.pagina-producto-modal .modal-body .distribuidor-modal__informacion li a {
  color: #535353;
}
.pagina-producto-modal .modal-body .distribuidor-modal__informacion li i {
  color: #292929;
  margin-right: 5px;
}
.pagina-producto-modal .modal-body .distribuidor-modal__informacion li:last-of-type {
  border-bottom: 0;
}

@media (max-width: 1199px) {
  .pagina-producto div.product div.summary .product_title {
    font-size: 4em;
  }
}
@media (max-width: 990px) {
  .pagina-producto div.product {
    display: flex;
    flex-direction: column;
  }
  .pagina-producto div.product div.images.woocommerce-product-gallery {
    margin-bottom: 0em;
    width: 100%;
    float: unset;
    order: 1;
  }
  .pagina-producto div.product div.summary {
    width: 100%;
    float: unset;
    order: 0;
  }
  .pagina-producto div.product div.summary .product_title {
    font-size: 2em;
    text-align: center;
  }
  .pagina-producto div.product div.summary .price {
    font-size: 1.3em;
  }
  .pagina-producto div.product .detalles-tecnicos {
    order: 3;
  }
  .pagina-producto div.product .detalles-tecnicos .detalles-tecnicos__sidebar {
    margin-bottom: 2em;
    top: unset;
    position: relative !important;
    height: unset;
    font-size: 1em;
  }
  .pagina-producto div.product .detalles-tecnicos .detalles-tecnicos__sidebar img {
    object-fit: cover;
    width: 100%;
    height: 100px;
  }
  .pagina-producto div.product .detalles-tecnicos .detalles-tecnicos__contenido .nav-tabs {
    font-size: 0.7em;
  }
  .pagina-producto div.product .related.products {
    order: 4;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper {
    margin-top: 3em;
    font-size: 0.95em;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li {
    width: 100%;
    border-radius: 0;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li a {
    width: 100%;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li:first-of-type {
    border-radius: 10px 10px 0px 0px;
  }
  .pagina-producto .related.products h2:not(.woocommerce-loop-product__title),
.pagina-producto .up-sells.upsells.products h2:not(.woocommerce-loop-product__title) {
    font-size: 1.2em;
  }

  .info-distribuidores {
    text-align: center;
  }
  .info-distribuidores .btn-modal-distribuidores {
    background-color: var(--color-primario);
    color: white;
    padding: 0.8em 1.8em;
    max-width: 280px;
    width: 100%;
    margin: auto;
    display: block;
  }

  .pagina-producto-modal .modal-header {
    justify-content: center;
  }
  .pagina-producto-modal .modal-header h3 {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    padding: 0.2em;
  }
  .pagina-producto-modal .modal-header .btn-close {
    font-size: 0.7em;
    position: absolute;
    right: 10px;
  }
  .pagina-producto-modal .modal-body .nav-tabs {
    flex-wrap: unset;
  }
}
@media (max-width: 575px) {
  .pagina-producto-modal .modal-header {
    margin-bottom: 1em;
  }
  .pagina-producto-modal .modal-header h3 {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0.2em;
    text-align: center;
  }
  .pagina-producto-modal .modal-header .btn-close {
    font-size: 0.7em;
    position: absolute;
    right: 10px;
  }
  .pagina-producto-modal .modal-body .nav-tabs {
    flex-wrap: unset;
    display: block;
    border-bottom: 0;
  }
  .pagina-producto-modal .modal-body .nav-tabs .nav-item, .pagina-producto-modal .modal-body .nav-tabs .nav-link {
    width: 100%;
  }
  .pagina-producto-modal .modal-body .nav-tabs .nav-link.nav-link.active {
    border: 1px solid gray;
    font-weight: 600;
  }
  .pagina-producto-modal .modal-body .distribuidor-modal__titulo {
    border-left: 5px solid var(--color-primario);
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 0.8;
    padding-left: 5px;
  }
  .pagina-producto-modal .modal-body .distribuidor-modal__informacion {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 2em;
  }
  .pagina-producto-modal .modal-body .distribuidor-modal__informacion li {
    font-size: 0.9em;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 0.8em;
    padding-bottom: 0.8em;
    color: #535353;
  }
  .pagina-producto-modal .modal-body .distribuidor-modal__informacion li a {
    color: #535353;
  }
  .pagina-producto-modal .modal-body .distribuidor-modal__informacion li i {
    color: #292929;
    margin-right: 5px;
  }
  .pagina-producto-modal .modal-body .distribuidor-modal__informacion li:last-of-type {
    border-bottom: 0;
  }

  .pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .detalles-tecnicos__geometria .geometria-bicicleta__tabla {
    width: 150%;
  }
  .pagina-producto .detalles-tecnicos .detalles-tecnicos__contenido .especificaciones-bicicleta__tabla tr td ul {
    padding: 0;
    margin: 0;
  }
}
.error-404 {
  min-height: 80vh;
  text-align: center;
  padding: 4em 0em;
}
.error-404 .page-header .page-epigraphe {
  font-size: 3.9em;
  font-weight: 700;
  display: block;
}
.error-404 .page-header .page-title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}
.error-404 .page-header .btn.btn-primary {
  color: white;
}

@media (max-width: 750px) {
  .error-404 {
    padding: 0 1em;
  }
  .error-404 .page-header .page-epigraphe {
    font-size: 2.5em;
  }
  .error-404 .page-header .page-title {
    font-size: 1.1em;
  }
}
.pagina-distribuidores .distribuidores-listado {
  margin: 6em 0em;
}
.pagina-distribuidores .distribuidores-listado .distribuidor {
  text-align: center;
  margin-bottom: 4em;
}
.pagina-distribuidores .distribuidores-listado .distribuidor .distribuidor__img {
  background-color: #474747;
  padding: 2em 1.4em;
  border-radius: 6px;
}
.pagina-distribuidores .distribuidores-listado .distribuidor .distribuidor__img img {
  max-width: 230px;
  margin: auto;
  width: 100%;
  height: auto;
}
.pagina-distribuidores .distribuidores-listado .distribuidor .distribuidor__nombre {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.pagina-distribuidores .distribuidores-listado .distribuidor .distribuidor__direccion {
  font-size: 0.9em;
  color: #6d6d6d;
}
.pagina-distribuidores .distribuidores-listado .distribuidor .btn-primary {
  max-width: 260px;
  width: 100%;
}
.pagina-distribuidores .distribuidor-modal .modal-header .btn-close {
  font-size: 0.7em;
}
.pagina-distribuidores .distribuidor-modal .modal-body .distribuidor-modal__titulo {
  border-left: 5px solid var(--color-primario);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 0.8;
  padding-left: 5px;
}
.pagina-distribuidores .distribuidor-modal .modal-body .distribuidor-modal__informacion {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2em;
}
.pagina-distribuidores .distribuidor-modal .modal-body .distribuidor-modal__informacion li {
  font-size: 0.9em;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
  color: #535353;
}
.pagina-distribuidores .distribuidor-modal .modal-body .distribuidor-modal__informacion li a {
  color: #535353;
}
.pagina-distribuidores .distribuidor-modal .modal-body .distribuidor-modal__informacion li i {
  color: #292929;
  margin-right: 5px;
}
.pagina-distribuidores .distribuidor-modal .modal-body .distribuidor-modal__informacion li:last-of-type {
  border-bottom: 0;
}

.pagina-sobre-nosotros .sobre-nosotros__seccion-1 {
  padding: 4em 2em;
  margin-bottom: 2em;
}
.pagina-sobre-nosotros .sobre-nosotros__seccion-1 h2 {
  font-size: 1.7em;
  font-family: "Barlow Condensed", sans-serif;
}
.pagina-sobre-nosotros .sobre-nosotros__seccion-1 p {
  font-size: 0.94em;
  margin: 0;
}
.pagina-sobre-nosotros .sobre-nosotros__seccion-2 {
  background-color: var(--color-primario);
}
.pagina-sobre-nosotros .sobre-nosotros__seccion-2 .sobre-nosotros__seccion-2-texto {
  padding: 5.5em 3em;
  color: white;
}
.pagina-sobre-nosotros .sobre-nosotros__seccion-2 .sobre-nosotros__seccion-2-texto h3 {
  font-family: "Barlow Condensed";
  font-size: 2.4em;
}
.pagina-sobre-nosotros .sobre-nosotros__seccion-2 .sobre-nosotros__seccion-2-texto p {
  margin-top: 1em;
  font-size: 0.9em;
}
.pagina-sobre-nosotros .sobre-nosotros__seccion-2 .sobre-nosotros__seccion-2-bg {
  background-image: url("assets/img/about-2.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 775px) {
  .pagina-sobre-nosotros .sobre-nosotros__seccion-1 {
    padding: 2em 1em;
    font-size: 0.98em;
  }
  .pagina-sobre-nosotros .sobre-nosotros__seccion-1 h2 {
    font-size: 1.5em;
  }
  .pagina-sobre-nosotros .sobre-nosotros__seccion-2 .sobre-nosotros__seccion-2-texto {
    padding: 2em;
  }
  .pagina-sobre-nosotros .sobre-nosotros__seccion-2 .sobre-nosotros__seccion-2-texto h3 {
    font-size: 1.8em;
  }
}
.pagina-contacto form.wpcf7-form {
  max-width: 980px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.25);
  padding: 2em;
  margin: 4em auto;
}
.pagina-contacto form.wpcf7-form h2 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 0.9em;
}
.pagina-contacto form.wpcf7-form label {
  width: 100%;
}
.pagina-contacto form.wpcf7-form label input {
  width: 100%;
  padding: 0.9em 0.4em;
}
.pagina-contacto form.wpcf7-form select {
  width: 100%;
  padding: 0.9em 0.4em;
}
.pagina-contacto form.wpcf7-form .wpcf7-form-control.wpcf7-submit {
  background-color: var(--color-primario);
  color: white;
  float: right;
  padding: 0.6em 2.5em;
  border: 0;
}

@media (max-width: 575px) {
  .pagina-contacto .wpcf7-form.init h2 {
    font-size: 1.5em;
  }
  .pagina-contacto .wpcf7-form.init .wpcf7-form-control.wpcf7-submit {
    max-width: 280px;
    float: unset;
    margin: auto;
    display: block;
    width: 100%;
  }
}
.pagina-documentos .documento {
  max-width: 310px;
  margin: auto;
  width: 100%;
}
.pagina-documentos .documento .documento__titulo {
  font-family: "Barlow Condensed", sans-serif;
  color: black;
  margin-top: 0.5em;
}
.pagina-documentos .documento .documento__archivo {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5em;
}
.pagina-documentos .documento .documento__archivo .icono-pdf {
  max-width: 100px;
}
.pagina-documentos .documento .documento__archivo a {
  color: #353434;
  text-transform: uppercase;
  text-align: center;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
