// Settings wordpress
@import './01-settings/file-header';

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=block");
@import url('https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css');

// Abstracts
@import './02-abstracts/variables';
@import './02-abstracts/mixins';

// Vendors
@import './06-vendors/woocommerce/main-woocommerce';

// Base
@import './03-base/reset';
@import './03-base/typography';
@import './03-base/base';

// Layout
@import './04-layout/navegacion';
@import './04-layout/footer';

// Components
@import './components/banner-header';
@import './components/button';

// Views
@import './05-views/pagina-inicio';
@import './05-views/pagina-tienda';
@import './05-views/pagina-producto';
@import './05-views/pagina-404';
@import './05-views/pagina-distribuidores';
@import './05-views/pagina-sobre-nosotros';
@import './05-views/pagina-contacto';
@import './05-views/pagina-documentos';

